@use "../../base"
@use "../../mixins"
  
    
.SupportBannerSection
    width: 100vw
    height: 150px
    @include mixins.displayCenter
    justify-content: space-around
    flex-wrap: nowrap
    background-color: base.$primary-color
    
    h2
        font-size: 55px
        letter-spacing: 20px
        animation: move-text 12s linear infinite

    @keyframes move-text
        0%  
            transform: translateX(100%)
            opacity: 5%
        50%  
            transform: translateX(0%)
            opacity: 100%
        100% 
            transform: translateX(-100%)
            opacity: 5%
    
    
@media only screen and (max-width: 1000px)
    .SupportBannerSection
        height: 15vh

        h2
            font-size: 40px
            letter-spacing: 15px

@media only screen and (max-width: 768px)
    .SupportBannerSection

        h2
            font-size: 27px
            letter-spacing: 8px

@media only screen and (max-width: 480px)
    .SupportBannerSection

        h2
            font-size: 18px
            letter-spacing: 8px
    
    



    

    