@use "../../base"
@use "../../mixins"
  
    
.SupportBannerSection
    width: 100vw
    height: 150px
    @include mixins.displayCenter
    background-color: base.$primary-color
    
    h2
        font-size: 70px