@use "../../base"
@use "../../mixins"

    
.Footer
    background-color: base.$primary-background
    color: base.$primary-color
    line-height: base.$primary-line-height
    font-size: base.$primary-font-size
    padding: 10px 0

    .mainFooter
        @include mixins.displayBetween
        padding: 10px 30px

        h2 
            font-family: base.$secondary-font-family
        
        .navBarLinks
            @include mixins.displayAround
            width: 200px
        
            li
                list-style: none

                a
                    text-decoration: none
                    color: base.$primary-color
                
                a:hover, a:focus
                    color: base.$secondary-color
                    border-bottom: 2px solid base.$secondary-color

    .fillerFooter
        @include mixins.displayAround
        padding: 60px

        ul
            @include mixins.displayCenter(column)

            li
                list-style: none

            .title
                font-weight: 700
                margin-bottom: 10px

@media only screen and (max-width: 768px)
    .Footer

        .mainFooter
            @include mixins.displayAround
    
            .navBarLinks
                display: none

        .fillerFooter
            padding: 40px

            li
                font-size: 13px

            .title
                font-weight: 700
                margin-bottom: 8px

@media only screen and (max-width: 480px)
    .Footer

        h2 
            font-size: 20px

        .fillerFooter
            padding: 10px

            ul
                margin: 0 5px

            li
                font-size: 9px

            .title
                font-weight: 700
                margin-bottom: 6px

            
