$font-stack: Helvetica, sans-serif
$primary-color: #fff
$primary-background: #153A5B
$primary-line-height: 23px
$primary-font-size: 15px

@mixin display()
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
    
.Footer
    @include display
    height: 50px
    background-color: $primary-background
    color: $primary-color
    line-height: $primary-line-height
    font-size: $primary-font-size

    h2 
        padding: 5px 10px
    
    ul
        padding: 5px 10px
        @include display
        justify-content: space-around
        width: 200px
    
        li
            list-style: none

            a
                text-decoration: none
                color: $primary-color