@use "../../base"
@use "../../mixins"
    
.NavBar
    @include mixins.displayBetween
    position: fixed
    top: 0
    left: 0
    z-index: 1
    height: 50px
    color: base.$primary-background
    background-color: base.$primary-color
    line-height: base.$primary-line-height
    font-size: base.$primary-font-size
    width: 100vw
    padding: 10px 30px

    h2 
        font-family: base.$secondary-font-family

    .mobileMenu 
        display: none
    
    .navBarLinks
        @include mixins.displayAround
        width: 200px
    
        li
            list-style: none

            a
                text-decoration: none
                color: base.$primary-background
                font-weight: 700
                
            
            a:hover, a:focus
                color: base.$secondary-color
                border-bottom: 2px solid base.$secondary-color

@media only screen and (max-width: 768px)
    .NavBar
        background-color: red

        .navBarLinks
            display: none

        .mobileMenu
            display: flex

    

    
 
    
    

