@use "../../base"
@use "../../mixins"
    
.NavBar
    @include mixins.displayBetween
    position: fixed
    top: 0
    left: 0
    z-index: 1
    height: 50px
    color: base.$primary-background
    background-color: base.$primary-color
    line-height: base.$primary-line-height
    font-size: base.$primary-font-size
    width: 100vw
    padding: 10px 30px

    h2 
        font-family: base.$secondary-font-family

    .mobileMenu, .mobileNavBarLinks 
        display: none
    
    .navBarLinks
        @include mixins.displayAround
        width: 200px
    
        li
            list-style: none

            a
                text-decoration: none
                color: base.$primary-background
                font-weight: 700
                
            
            a:hover, a:focus
                color: base.$secondary-color
                border-bottom: 2px solid base.$secondary-color

@media only screen and (max-width: 768px)
    .NavBar
        @include mixins.displayAround
        z-index: 99
       

        .navBarLinks
            display: none

        .mobileMenu
            display: flex
            border: none
            background: none
            position: relative
        
            .mobileNavBarLinks
                @include mixins.displayBetween(column)
                background-color: base.$secondary-color
                position: absolute
                top: 110px
                left: 50%
                transform: translate(-50%, -50%)
                text-align: center
                opacity: 0
                transition: opacity 0.5s ease
                padding: 15px 40px
                border-radius: 20px

                li
                    list-style: none
                    padding: 10px 0

                    a
                        text-decoration: none
                        color: base.$primary-color
                    
                    a:hover, a:focus
                        color: base.$primary-background

                    span
                        color: base.$primary-color

                    span:hover, span:focus
                        color: base.$primary-background  
            
            span
                color: base.$primary-background
                font-size: 30px
            
        .mobileMenu:hover .mobileNavBarLinks, .mobileMenu:focus .mobileNavBarLinks
            opacity: 1
            background-color: rgba(0, 0, 0, 0.5)

    

    
 
    
    

