@mixin displayCenter($direction: row)
  display: flex
  flex-direction: $direction
  align-items: center
  justify-content: center

@mixin displayBetween($direction: row)
  display: flex
  flex-direction: $direction
  align-items: center
  justify-content: space-between

@mixin displayAround($direction: row)
  display: flex
  flex-direction: $direction
  align-items: center
  justify-content: space-around

