@use "base"
@use "mixins"


.ProductPage
    @include mixins.displayCenter(column)
    margin: 140px

    h1 
        margin-bottom: 40px
        color: base.$primary-background

    .productContainer
        background-color: base.$primary-background
        padding: 40px
        border-radius: 20px
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5) 
        @include mixins.displayCenter(row)
        color: base.$primary-color

        img 
            width: 347px
            height: 455px

        div 
            @include mixins.displayCenter(column)
            padding: 20px
            flex-wrap: wrap
            font-size: base.$primary-font-size
            width: 600px
            background-color: base.$secondary-background
            color: base.$primary-background
            height: 455px

            h2
                margin-bottom: 10px
                font-size: 25px

            h3
                padding: 15px 0
                font-style: italic
                
            h4 
                margin-bottom: 20px
        
            
            button
                    padding: 15px 40px
                    background-color: base.$primary-color
                    font-weight: 700
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
                    border-radius: 30px
                    border: none
                    margin-top: 160px
                    position: relative
                    transition: all 200ms ease-in-out
            
                    a
                        text-decoration: none
                        font-size: base.$primary-font-size
                        color: base.$primary-background

            button:hover
                box-shadow: none
                transform: translateY(3px)

@media only screen and (max-width: 1000px)
    .ProductPage
        margin: 135px

        .productContainer
            padding: 30px

            div 
                width: 360px
                height: 455px


@media only screen and (max-width: 786px)
    .ProductPage
        @include mixins.displayCenter(column)
        margin: 140px

        h1 
            margin-bottom: 30px
            font-size: 28px

        .productContainer
            border-radius: 15px
            @include mixins.displayCenter(column)

            img 
                width: 216.875px
                height: 284.375px
                border-radius: 15px
                margin-bottom: 30px

            div 
                padding: 15px
                width: 400px
                height: 400px
                
                h2
                    font-size: 20px

                h3
                    padding: 13px 0
                    
                h4 
                    margin-bottom: 15px
            
                
                button
                    padding: 13px 35px
                    border-radius: 25px
                    margin-top: 100px

@media only screen and (max-width: 480px)
    .ProductPage
        margin: 100px

        h1 
            margin-bottom: 20px
            font-size: 20px

        .productContainer
            padding: 15px
            border-radius: 12px

            img 
                width: 216.875px
                height: 284.375px
                border-radius: 12px
                margin-bottom: 15px

            div 
                padding: 12px
                width: 216.875px
                height: 300px
                @include mixins.displayCenter(column)
                
                h2
                    font-size: 18px

                h3
                    padding: 10px 0
                    font-size: 13px
                    
                h4 
                    margin-bottom: 15px
                    font-size: 13px
            
                
                button
                    padding: 10px 30px
                    border-radius: 15px
                    margin-top: 40px

                    a
                        font-size: 10px
  


            