@use "../../base"
@use "../../mixins"

.ProductCard
    margin: 60px 60px 30px 60px
    background-color: base.$secondary-background
    @include mixins.displayCenter(column)
    padding: 20px
    border-radius: 20px
    position: relative

    img
        width: 347px
        height: 455px

    .productDescription
        @include mixins.displayCenter(column)
        position: absolute
        bottom: -10%
        left: 50%
        transform: translate(-50%, -50%)
        text-align: center
        opacity: 0
        transition: opacity 0.5s ease
        width: 100%
        color: base.$primary-color
        padding: 15px 0

        h3
            font-size: 20px
            margin-bottom: 4px
            
        h4 
            font-size: base.$primary-font-size



.ProductCard:hover .productDescription
    opacity: 1
    background-color: rgba(0, 0, 0, 0.5)

@media only screen and (max-width: 786px)
    .ProductCard
        margin: 50px 20px 0 20px
        padding: 15px
        border-radius: 15px

        img
            width: 216.875px
            height: 284.375px

        .productDescription
            bottom: -15%
            padding: 13px 0

            h3
                font-size: 20px
            
            h4 
                font-size: 13px

@media only screen and (max-width: 480px)
    .ProductCard
        margin: 40px 10px 0 10px
        padding: 10px
        border-radius: 13px

        img
            width: 173.5px
            height: 227.5px

        .productDescription
            bottom: -20%
            padding: 10px 0

            h3
                font-size: base.$primary-font-size
            
            h4 
                font-size: 10px
    