@use "../../base"

.TopBannerSection
    height: 100vh
    width: 100vw
    background-image: url("../../lib/BrightWaterBanner.jpg") 
    background-size: cover

    h1
        font-size: 110px
        line-height: 130px
        padding: 120px 400px
        color: base.$primary-color
        text-shadow: 3px 3px 5px rgba(0, 0 , 0, 0.5 )
        margin-bottom: 400px

    button
        padding: 15px 40px
        background-color: base.$primary-color
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
        border-radius: 30px
        border: none
        margin: 0 auto
        display: flex
        position: relative
        transition: all 200ms ease-in-out
        
        a
            text-decoration: none
            font-size: base.$primary-font-size
            color: base.$primary-background
            font-weight: 700
        
    button:hover
        box-shadow: none
        transform: translateY(3px)
    
    button:hover .bubble1 
        width: 40px
        height: 40px
        background: radial-gradient(circle at 7.5% 24%, rgb(144, 236, 248) 0%, rgb(87, 245, 192) 35.5%, base.$primary-background 72.3%, rgb(30, 209, 203) 90.8%)
        border-radius: 50%
        position: absolute
        top: -50%
        left: -30%
        transform: translate(-50%, -50%)
        opacity: 0.2
        z-index: -1
        animation: move-bubble1 12s linear infinite

    button:hover .bubble2
        width: 25px
        height: 25px
        background: radial-gradient(circle at 7.5% 24%, rgb(144, 236, 248) 0%, rgb(87, 245, 192) 35.5%, base.$primary-background 72.3%, rgb(30, 209, 203) 90.8%)
        border-radius: 50%
        position: absolute
        top: -10%
        left: -15%
        transform: translate(-50%, -50%)
        opacity: 0.2
        z-index: -1
        animation: move-bubble2 10s linear infinite

    button:hover .bubble3
        width: 30px
        height: 30px
        background: radial-gradient(circle at 7.5% 24%, rgb(144, 236, 248) 0%, rgb(87, 245, 192) 35.5%, base.$primary-background 72.3%, rgb(30, 209, 203) 90.8%)
        border-radius: 50%
        position: absolute
        top: 50%
        left: -30%
        transform: translate(-50%, -50%)
        opacity: 0.3
        z-index: -1
        animation: move-bubble3 8s ease infinite

    button:hover .bubble4 
        width: 40px
        height: 40px
        background: radial-gradient(circle at 7.5% 24%, rgb(144, 236, 248) 0%, rgb(87, 245, 192) 35.5%, base.$primary-background 72.3%, rgb(30, 209, 203) 90.8%)
        border-radius: 50%
        position: absolute
        top: -50%
        right: -50%
        transform: translate(-50%, -50%)
        opacity: 0.2
        z-index: -1
        animation: move-bubble4 12s linear infinite
            
    button:hover .bubble5
        width: 25px
        height: 25px
        background: radial-gradient(circle at 7.5% 24%, rgb(144, 236, 248) 0%, rgb(87, 245, 192) 35.5%, base.$primary-background 72.3%, rgb(30, 209, 203) 90.8%)
        border-radius: 50%
        position: absolute
        top: -10%
        right: -15%
        transform: translate(-50%, -50%)
        opacity: 0.2
        z-index: -1
        animation: move-bubble5 10s linear infinite

    button:hover .bubble6
        width: 30px
        height: 30px
        background: radial-gradient(circle at 7.5% 24%, rgb(144, 236, 248) 0%, rgb(87, 245, 192) 35.5%, base.$primary-background 72.3%, rgb(30, 209, 203) 90.8%)
        border-radius: 50%
        position: absolute
        top: 50%
        right: -30%
        transform: translate(-50%, -50%)
        opacity: 0.3
        z-index: -1
        animation: move-bubble6 8s ease infinite


@media only screen and (max-width: 1000px)
    .TopBannerSection
        height: 85vh

        h1
            font-size: 90px
            line-height: 120px
            padding: 80px 150px
            margin-bottom: 400px

@media only screen and (max-width: 786px)
    .TopBannerSection
        height: 85vh
        background-image: url("../../lib/BrightWaterBannerMobile.jpg") 
        background-position: center

        h1
            font-size: 70px
            line-height: 100px
            padding: 80px 30px
            margin-bottom: 400px
        
        button
            padding: 13px 35px
            border-radius: 25px

@media only screen and (max-width: 480px)
    .TopBannerSection

        h1
            font-size: 50px
            line-height: 100px
            padding: 80px 30px
            margin-bottom: 400px
        
        button
            padding: 8px 25px
            border-radius: 15px

            a 
                font-size: 10px

                


    