@use "../../base"

.TopBannerSection
    height: 100vh
    width: 100vw
    background-image: url("../../lib/BrightWaterBanner.jpg") 
    background-size: cover

    h1
        font-size: 110px
        line-height: 130px
        padding: 120px 400px
        color: base.$primary-color
        text-shadow: 3px 3px 5px rgba(0, 0 , 0, 0.5 )
        margin-bottom: 400px

    button
        padding: 15px 40px
        background-color: base.$primary-color
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
        border-radius: 30px
        border: none
        margin: 0 auto
        display: flex
        position: relative
        transition: all 200ms ease-in-out
        
        a
            text-decoration: none
            font-size: base.$primary-font-size
            color: base.$primary-background
            font-weight: 700
        
    button:hover
        box-shadow: none
        transform: translateY(3px)


@media only screen and (max-width: 1000px)
    .TopBannerSection
        height: 85vh

        h1
            font-size: 90px
            line-height: 120px
            padding: 80px 150px
            margin-bottom: 400px


    