@use "../../base"
@use "../../mixins"
    
.ProductList
    @include mixins.displayCenter(column)
    background-color: base.$primary-color
   
    h2
        font-size: 35px
        padding-bottom: 5px
        position: relative
        color: base.$primary-background
    
    h2::before
        content: ""
        position: absolute
        bottom: 0
        left: 0
        right: 0
        margin: 0 auto
        width: 130px
        border-bottom: 3px solid base.$primary-background

    .ProductCardContainer
        @include mixins.displayCenter
        flex-wrap: wrap

@media only screen and (max-width: 786px)
    .ProductList
        margin-bottom: 60px

        h2
            font-size: 28px

@media only screen and (max-width: 480px)
    .ProductList
        margin-bottom: 0

        h2
            font-size: 20px

